@charset "utf-8" ;

* {
  box-sizing: border-box;
}

.clearfix:after{
  content:"";
  display: block; 
  clear: both;
}
  
body {
  margin: 0;
  padding: 0; 
  background-color: #cccccc;
  font-size: 15px;
  line-height: 2;
  /* text-align: center; */
  
}

p,h1,h2,h3,h5,h6 {
  margin : 0;
  padding:0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

h4{
margin-top:12%;
/* background-color:red; */

}

.container p{
  margin-top:2%;
}

.contents-detail{

  /* width:90%;
  margin:0 auto; */
  
}

header {
  width:100%;
  height:100px;
  margin: 0 auto;
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.7); 
}

.logo a {
  float:left;
  margin-top: 10px;
  font-size:10px; 
  font-family: 'Bitter', serif;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
}



.groval-nav {
  float:right;
  margin-top:30px;
}

.groval-nav li {
  float:left;
  margin:0 20px;
  font-size:20px;
  list-style: none;
  font-family: 'Bitter', serif;
}


.groval-nav li a {
  color:#ffffff;
}


.groval-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 8px;
  text-decoration:none;
}


body{
  background: url(../images/elvis-presley-1482026_1280a.jpg)fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  
}



#wrap {
  padding: 35px 0 0 0;
  background-color: #ffffff;
 

}

.top-container{
display: flex;
/* flex-wrap: wrap; */
width: 100%;
text-align: center;


}

.top-picture{
  width:240px;
  margin:0px 3px ;
  margin:0 auto;
  border: 1px solid #CCCCCC;
  
  
}

.top-image{
  width:100%;

  
}

.top-picture a{
  text-decoration:none;
  color:black;
}

.top-picture:hover{
  opacity:0.8;
}

.wrap-container{
  margin: 100px 0px 0px 10px;
  height:auto;
}

.container{
/* display: flex;
flex-wrap: wrap; */
/* padding: 100px 0px 0px 10px; */
width:65%;
float: left;
margin:0px 50px 0 30px;


}


.box{
  /* margin: 0 10px 10px 10px; */
  background-color:#f5f5f5;
  border: 1px solid #CCCCCC;
  width:100%;
}



.box a{
  text-decoration: none;
}

.box p{
  color:black;
}

.blog-image{
  /* position: relative; */

}


.blog-image img{

  width: 100%;
  height: 54%;
}


.blogtitle{
font-size:20px;
}

.box{

  /* height:auto;
  float:left; */

}

.contents-detail{
  /* clear: both; */
}

.midasi h2{
  /* background:red; */
  text-align: left;
  margin-top:100px;
}

.midasi h2::before {
    /* content: "";
  background-color: black;
  width:10px;
  height:40px;
    display: inline-block; */
}
h2 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px black;/*左線*/
}

.blog-h1{
  margin:0 0 5% 0;
  
}

.blogtitle{
  padding:3% 0;
}

.mokuji{
  text-align: left;
  /* margin-top:10%; */
  width:90%;
  margin:10% auto;

}

.mokuji li{
  margin-left:5%;

}

.mokuji a{
  color:rgb(27, 27, 27);

}

.top-discription{
  margin:7% auto 0 auto;
  width:90%;

  
}
 

.picture{

}

.container p{
/* text-overflow:ellipsis; 
  overflow: hidden;
  width: 100%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; */
}


/* サイドバー始まり */

.sidebar{
float:left;
margin-top: 100px;
margin-left: 10px;
width:26%;
background-color:#f5f5f5;
text-align: center;
}
.contents-detail{
width:100%;
margin:0 auto 20% auto;
background-color:rgb(243, 242, 242);
padding:2% 0;
}

.first-section{
  width:85%;
  margin:auto;
}

.second-section{
    width:85%;
  margin:auto;
}

.third-section{
      width:85%;
  margin:auto;
}


.sidebar li {
  list-style: none;
}

.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 13px 5px;
  border-radius: 5px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
  margin:30px 0 0 0;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: black;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}



.search{
  background-color: black;
  color: #ffffff;
  
}

.category{
  margin-top:60px;
  padding-top:0px;
  background-color: black;
  color: #ffffff;
}

.category-detail{
  margin-top:30px;
}

.archive{
  margin-top:70px;
  color: #ffffff;
  background-color: black;
}


.pager {
  clear:both;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 150px;
  margin:0 auto;
  width:759px;


  
}



.pager ul {
  list-style: none;
  background: #EEE;
  position: relative;
  left: 43%;
  float: left;
  overflow: hidden;
  text-align: center;
  
 
  
}

.pager ul li {
  position: relative;
  margin: 0.1px;
  float: left;
  
}

.pager ul li span,
.pager ul li a {
  display: block;
  font-size: 16px;
  padding: 0.6em 1em;
  border-radius: 3px;
  
}


.pager ul li a {
  background: #EEE;
  color: #000;
  text-decoration: none;
}


.pager ul li a:hover {
  background: #333;
  color: #FFF;

}


/* フッター始まり */

footer {
  text-align: center;
  color:#ffffff;
  padding:20px 0px;
  background-color: rgba(0, 0, 0, 0.7);
  clear: both;
  
}





/* モーダル */
.login-modal-wrapper {
    position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */
  display:none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width:100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: black;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}


.fa {
  margin-right: 5px;
}

  

@media screen and (max-width:640px){

  img{
width:100%;
max-width:100%;
height:auto;  
}


header .logo{
  width:50%;
}

  .top-container{
  display: flex;
   width:92%; 
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin:0 1% 0 5%;

    
    

  }

  .top-picture{
      width:100%;
  max-width:100%;
  height:auto;
   flex: 0 0 70%;

  }

.blog-image img{

  height:auto;
}

.blogtitle{
font-size:20px;
}

.top-image{
  width:100%;
  max-width:100%;
  height:100%;
  flex: 0 0 70%;
  
}

.detail{
  width:100%;
}

.box{
  width:90%;
  height:auto;
  /* background-color:red; */
  margin:0 auto;
  margin-top:20px;
  float:none;

}

.pager {
  clear:both;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin:10% auto;
  width:100%;
  background-color:blue;
  

  
}

.container{
padding: 100px 0px 0px 0px;
margin:0 0 0 0;
width:97%;
float: none;

margin-left:0px;

}


p {
  margin: 0;
}


/* 
.container p{
text-overflow:ellipsis; 
  overflow: hidden;
  width: 100%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
} */

.blog-image{
  /* position: relative; */

}


.blog-image img{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}


.sidebar{
float:none;
width:100%;
margin:0;

}




.sidebar li {
  list-style: none;
}

.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 1% 0%;
  border-radius: 5px;
  height: auto;
  width: 60%;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: black;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}

.search{
  background-color: black;
  color: #ffffff;
  width:;
}

.category{
  margin-top:60px;
  padding-top:0px;
  background-color: black;
  color: #ffffff;
}

.archive{
  margin-top:70px;
  color: #ffffff;
  background-color: black;
}



#nav-toggle{
  width:30px;
  height:26px;
  position: absolute;
  right:15px;
  top:15px;
  cursor:pointer;
}

#nav-toggle span:nth-child(1){
  top:0px;
}

#nav-toggle span:nth-child(2){
  top:11px;
}

#nav-toggle span:nth-child(3){
  top:22px;
}


#nav-toggle span{
  width:100%;
  height:4px;
  display:block;
  position: absolute;
  left:0px;
  background-color:white;
  transition: 0.3s;
}


#nav-toggle.active span:nth-child(1){
  top:11px;
  transform: rotate(315deg);
}

#nav-toggle.active span:nth-child(2){
  width:0;
  left:50%;
}

#nav-toggle.active span:nth-child(3){
  top:11px;
  transform: rotate(-315deg);
}


.groval-nav{
  /* margin-left:0px; */
  padding:50px 0;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin:0 0 20px 0;
}

.groval-nav li{
  text-align: center;
}

.groval-nav li{
  float:none;
}


nav ul{
  display:none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 80%;
  height: auto;
  text-align: center;
  
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width:100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 3%;
}

#signup-form input, #login-form input {
  width: 77%;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 2.6% 1.2%;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

.form-control{
  margin-top:0px;
}

#submit-btn {
  display: inline-block;
  padding: 2% 4%;
  background-color: black;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 1% auto;
  cursor: pointer;
}

.wrap-container{
  margin-bottom:40%;
}

.first-detail1{
  width:95%;
  margin:0 auto;
}

}


